<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Welcome Page</title>
</head>
<body>
 <h2 class="text-center">Welcome</h2>
<div class="list-group">
  
  <a href="evaluation" class="list-group-item list-group-item-action">Evaluations</a><br>
  <a href="participant" class="list-group-item list-group-item-action">Gestion des Participants</a><br>
    <a href="recommandation" class="list-group-item list-group-item-action">Gestion des Recommandations</a><br>
  <a href="sortie" class="list-group-item list-group-item-action">Gestion des Sorties</a>

</div>

</body>
</html>